@tailwind base;
@tailwind components;
@tailwind utilities;

/* card.css hoặc index.css */
.perspective {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-rotate {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}