@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-ball {
    height: 60px;
    filter: brightness(80%);
    animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.perspective {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-rotate {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
body{
  height: calc(100vh - 16px);
  background-image: url('./assets/sd.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
}
p{
  margin: 0;
}